@use './variables' as *;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $body-font;
  font-size: 1rem;
  font-weight: 400;
  color: $primary-color;
  line-height: normal;
  background: $white;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* BASIC TYPOGRAPHY
  ============================================= */
  h1,
  h2,
  h3,
  h4,
  h5 {
      word-wrap: break-word;
      line-height: normal;
      font-family: $heading-font;
      margin: 0;
  }
  p {
      word-wrap: break-word;
      line-height: normal;
      margin: 0;
  }
  a {
      text-decoration: none;
      color: $primary-color;
      &:hover {
          text-decoration: none;
          color: $primary-color;
      }
  }
