@use './variables' as *;

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  &.fixed-header{
    position: fixed;
    background:$white;
    .navbar {
      padding: 12px 0;
    }
  }
  .navbar{
    padding: 40px 0;
  }
  .navbar-nav{
    .nav-item{
      margin-left: 5px;
    }
    .nav-link{
      color: $black;
      font-size: 16px;
      line-height: normal;
      padding: 13px 15px;
    }
  }
  .btn {
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 22.5px;
    border-color: $theme-color;
    line-height: normal;
    margin-left: 35px;
  }
  .btn-primary{
    background-color: $theme-color;
  }
}
