$body-font: "Lato", sans-serif;
$heading-font: "Ubuntu", sans-serif;

// Colors
$white: #ffffff;
$black: #000000;
$primary-color: #3A3A3A;
$secondary-color: #6F6F6F;
$theme-color: #004F9F;


// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-xxxl: 1600px;

// mixin
@mixin small-devices {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  }
  @mixin medium-devices {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  }
  @mixin large-devices {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }
  @mixin x-large-devices {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  }
  @mixin xx-large-devices {
    @media (min-width: $breakpoint-xxl) {
      @content;
    }
  }
  @mixin xxx-large-devices {
    @media (min-width: $breakpoint-xxxl) {
      @content;
    }
  }
